body.welcome{
	background-color: #eae8e1;
}
#welcome-form{
	background-color: #fff;
	border:1px solid #cdcdcd;
}
.form-control, .select2-search input[type=text]{
	border: 1px solid #cdcdcd;
}
.select.form-control, .select.select2-search input[type=text]{
	border: 1px solid #cdcdcd;	
}
.select{
	width: 160px !important;
	min-width: 160px !important;
}
.select2-drop{
	
}
.select2-arrow {
	border-color: #cdcdcd transparent;
}
.select-transparent{
	border-radius: 4px;
	border:	2px solid #bdc3c7;
	width: 160px !important;
	min-width: 160px !important;
}
.select2-drop{
	min-width: 160px !important;
}
.line{
	position: relative;
}
.line .vertical{
	top: 0;
	left: 0;
	position: absolute;
	background-color: #ddd;
	width: 12px;
	height: 100%;
}
.line .round{
	border-radius: 12px;
	top: 12px;
	left: -6px;
	position: absolute;
	background-color: #ddd;
	width: 24px;
	height: 24px;
}
.line .round-m{
	border-radius: 8px;
	top: 16px;
	left: -2px;
	position: absolute;
	background-color: #fff;
	width: 16px;
	height: 16px;
}
.table{
	border-right:1px solid #ddd;
}
.table>thead>tr>td.active, .table>tbody>tr>td.active, .table>tfoot>tr>td.active, .table>thead>tr>th.active, .table>tbody>tr>th.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>tbody>tr.active>td, .table>tfoot>tr.active>td, .table>thead>tr.active>th, .table>tbody>tr.active>th, .table>tfoot>tr.active>th{
	background-color: #ddd !important;
}